/* DUDAS:
1- Como ordeno los botones centrados? */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: rgb(197, 173, 219);
}

.padre{
    background-color: white;
    height: 200px;
    width: 250px;
    margin-top: 30vh;
    margin-left: 30vw;
    border-radius: 10%;
    box-shadow: 5px 5px 5px 2px rgb(79, 22, 131);
}

h6{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    width: 150px;
    margin-left: 18%;
    margin-bottom: 20px;
    font-size: 13px;
}

button{
    /* display: inline-flex;
    /* margin-left: 10%; 
    justify-content: space-evenly; */
    margin-left: 3%;
    width: 50px;
    margin-bottom: 30px;
    font-size: 12px;
    border-radius: 4px;
}

.continue{
    width: 220px;
    margin-left: 15px;
    background-color: rgb(176, 118, 230);
   
}

.selec{
    background-color: rgb(176, 118, 230);
}